/* All ulable color class */
.color-background {
    background-color: #1e1e1e;
}

.color-text {
    color: #d4d4d4;
}

.color-keyword {
    color: #569cd6;
}

.color-string {
    color: #ce9178;
}

.color-function {
    color: #dcdcaa;
}

.color-comment {
    color: #6a9955;
}

.color-number {
    color: #b5cea8;
}

/* font weight classes */
.fw-bold {
    font-weight: bold;
}

.fw-normal {
    font-weight: normal;
}

.fw-light {
    font-weight: lighter;
}