:root {
    --primary_color: teal;
    --on_primary_color: white;
    --background_color: white;
    --on_bancground_color: black;
    --surface_color: white;
    --onsurface_color: black;
    --secondary_color: teal;

    --sidebar_width: 200px;
}


body {
    padding: 0;
    margin: 0;
    display: flex;
}

.sidebar {
    height: 100vh;
    width: var(--sidebar_width);
    background-color: var(--primary_color);
    position: fixed;
    box-shadow: -2px 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.content {
    padding-left: var(--sidebar_width);
    width: 100%;
    background-color: var(--background_color);
}

.content_cover {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: var(--secondary_color);
}

.cover_child {
    /* align-content: center; */
    align-self: center;
    width: 100%;

}

.cover_heading {

    font-size: 80px;
    font-weight: 500;
    text-align: center;
    color: var(--on_primary_color);
    padding: 20px;
}

.cover_sub_heading {

    font-size: 40px;
    font-weight: 300;
    text-align: center;
    color: var(--on_primary_color);
}




.avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 20px;
}

.title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;

}

.subtittle {
    text-align: center;
    font-size: 12px;

}

.onbackground {
    color: var(--on_bancground_color);
}

.onprimary {
    color: var(--on_primary_color);
}

.navigatebutton {
    display: grid;
}

.navbutton {
   
    color: var(--on_primary_color);
    text-align: start;
    padding: 5px;

}

a{
    text-decoration: none;
    color: var(--on_primary_color);
}

.navbutton_bottom {
    color: var(--on_primary_color);
    /* padding-left: 20%; */
    text-decoration: none;
    margin: 20px;
}



.other_content {
    padding: 10px;
   
}

.skills_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 5% 20%; */
    padding-bottom: 50px;
    
}

.card{
    padding: 10px;
    height: 80px;;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 5px var(--primary_color);
    margin: 10px;
}
.card .logo{
    height: 60px;
    width: 60px;
}
.card .title{
    color: var(--primary_color);
    padding: 5px;
    font-size: 15px;
}

.skill_card{
    flex: 0 0 40%; 
    padding: 10px; 
    box-sizing: border-box; 
    margin: 20px;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    /* width: 200px; */
    box-shadow: 1px 1px 5px var(--primary_color);
}

.skill_card .skill_title{
    font-weight: 600;
}

.development_skill{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.progress {
    height: 20px;
    background-color: var(--primary_color); 
}
.skill_rating {
    margin-top: 20px;
    width: 100%; 
    background-color: #c8c6c6; 
}
.single_certificate_container{
    width: 50%;
    padding: 20px 0px;
}

.certificate_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.single_certificate{
    /* width: 40%; */
    /* padding: 10px; */
    display: flex;
}
.certificate_title{
    padding: 0px 10px;
}

.projects_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 5% 20%; */
    padding-bottom: 50px;

}
.single_project{
    padding: 10px;
    flex: 0 0 40%; 
    box-sizing: border-box; 
    margin: 20px;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    /* width: 200px; */
    box-shadow: 1px 1px 5px var(--primary_color);

}

.project_heading{
    display: flex;
    align-items: start;
   
}

.project_heading img{
    margin-right: 10px;
    height: 60px;
    width: 60px;
}
.project_name{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 5px;
}

.project_technologies{
    padding-top: 20px;
}

.single_technology {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    font-size: 14px;
}







